<html>
	<head>
		<title>
			Add grade
		</title>
	</head>
	<body>
		<h1>
			Add grade
		</h1>
		<form action="/api/grade" method="post">
			<label>
				Student:
			</label>
			<select name="s_id">
				{% for student in students %}
					<option value={{ student.id }}>
						{{ student.f_name }} {{ student.l_name}}
					</option>
				{% endfor %}
			</select>
			<label>
				Course:
			</label>
			<select name="c_id">
				{% for course in courses %}
					<option value={{ course.id }} name="c_id">
						{{ course.c_name }}
					</option>
				{% endfor %}
			</select>
			<input type="text" name="grade">
			<input class="button" type="submit" value="Add Grade">
		</form>
	</body>
</html>
